.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 78px;
    z-index: 200;
    border-right-color: rgb(235, 235, 235);
    border-right-width: 1px;
    border-right-style: solid;
}

.sidebar-link {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover {
    background-color: rgb(230, 229, 229);
    cursor: pointer;
}

.sidebar img {
    height: 25px;
    margin-bottom: 5px;
}

.sidebar div {
    font-size: 11px;
    font-family: Roboto, Arial;
}